<div layout="column">
    <div layout="row">
        <md-card flex>
            <md-card-title class="custom-title">
                <md-card-title-text>
                    <span class="md-headline">Outdoor</span>
                </md-card-title-text>
            </md-card-title>
            <div layout="row">
                <img ng-src="src/images/Contact-us_square.jpg" alt="Washed Out" class="image-contact" flex="30"/>
                <md-card-content flex="70" layout="column">
                    <p flex>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <md-button class="contact-us-button md-raised md-primary" aria-label="Meet Us" layout="row"
                               ng-click="openContactUs($event)" layout-align="center-center" style="max-width: 50%;">
                        <ng-md-icon icon="import_contacts" class="button-color" size="35px"></ng-md-icon>
                        <span>Read More....</span>
                    </md-button>
                </md-card-content>
            </div>
        </md-card>
        <md-card flex>
            <md-card-title class="custom-title">
                <md-card-title-text>
                    <span class="md-headline">Branding</span>
                </md-card-title-text>
            </md-card-title>
            <div layout="row">
                <img ng-src="src/images/Contact-us_square.jpg" alt="Washed Out" class="image-contact" flex="30"/>
                <md-card-content flex="70" layout="column">
                    <p flex>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <md-button class="contact-us-button md-raised md-primary" aria-label="Meet Us" layout="row"
                               ng-click="openContactUs($event)" layout-align="center-center" style="max-width: 50%;">
                        <ng-md-icon icon="import_contacts" class="button-color" size="35px"></ng-md-icon>
                        <span>Read More....</span>
                    </md-button>
                </md-card-content>
            </div>
        </md-card>
    </div>
    <div layout="row">
        <md-card flex>
            <md-card-title class="custom-title">
                <md-card-title-text>
                    <span class="md-headline">Tablo</span>
                </md-card-title-text>
            </md-card-title>
            <div layout="row">
                <img ng-src="src/images/Contact-us_square.jpg" alt="Washed Out" class="image-contact" flex="30"/>
                <md-card-content flex="70" layout="column">
                    <p flex>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <md-button class="contact-us-button md-raised md-primary" aria-label="Meet Us" layout="row"
                               ng-click="openContactUs($event)" layout-align="center-center" style="max-width: 50%;">
                        <ng-md-icon icon="import_contacts" class="button-color" size="35px"></ng-md-icon>
                        <span>Read More....</span>
                    </md-button>
                </md-card-content>
            </div>
        </md-card>
        <md-card flex>
            <md-card-title class="custom-title">
                <md-card-title-text>
                    <span class="md-headline">InHouse</span>
                </md-card-title-text>
            </md-card-title>
            <div layout="row">
                <img ng-src="src/images/Contact-us_square.jpg" alt="Washed Out" class="image-contact" flex="30"/>
                <md-card-content flex="70" layout="column">
                    <p flex>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <md-button class="contact-us-button md-raised md-primary" aria-label="Meet Us" layout="row"
                               ng-click="openContactUs($event)" layout-align="center-center" style="max-width: 50%;">
                        <ng-md-icon icon="import_contacts" class="button-color" size="35px"></ng-md-icon>
                        <span>Read More....</span>
                    </md-button>
                </md-card-content>
            </div>
        </md-card>
    </div>
</div>